.idea/
*.iml
*.ipr
*.iws

.gradle/
build/
gradle-wrapper.jar

/build/
*/out/

local.properties

*~
.DS_Store
.thumbs
.icons/*

# Logs
*.log

**/generated/**

**.cache/**

.captures
.externalNativeBuild
.cxx

test-results/
reports/